<div id="portfolio_app">
  <%= image_tag "https://res.cloudinary.com/prwlr84/image/upload/v1620397543/signatureLogo_w3jejj_iscenj.png", alt: "logo", style: "position: absolute, right: -3%, bottom: -5%" %>
</div>

