.fade-out{
  opacity:0
}

.fade-in{
  opacity:1
}

div.app{
  h2.button1{
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
  }

  h2.button1-mob{
    margin: 0;
    position: fixed;
    top: 55px;
    right: -50px;
    transform: rotate(90deg);
    color: red;
    opacity: 0.3;
  }
}

div.work{
  margin-top: 3%;
  font-family: "Orbitron", sans-sherif;
  color: red;
  background-color: transparent;
  overflow: visible;
  flex-wrap: wrap;
  position: fixed;
  width: 90%;
  align-items: center;
  padding: 20px;

  div.frame3{
    margin: 0 auto;
    width: fit;
    transition: all .5s ease-in-out;

    h3, p {
      display: none;
      transition: all .35s ease-in-out;
    }

    img{
      max-width: 45vh;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: all .35s ease-in-out;
    }
  }

  div.col-sm-6:nth-of-type(3){
    padding-top: 5%;
    padding-bottom: 5%;
    height: 75vh;
    overflow-y: scroll;
    background-color: transparent;
  }

  div.col-sm-6:nth-of-type(1){
    height: 75vh;
    justify-content: center;

    h1{
      position: absolute;               /* 2 */
      top: 50%;                         /* 3 */
      transform: translate(0, -50%);
      margin-left: 35%;
      margin-right: 35%;
      font-size: 5vh;
    }
  }

  div.frame3:hover{
    position: relative;
    z-index: 5;
    transform: scale(1.6);
    background: rgb(0,0,0);
    background: linear-gradient(125deg, rgba(0, 0, 0, 0.7) 40%, black 72%, red 92%);
    img{
      -webkit-filter: none;
      filter: none;
    }

    h3, p {
      display: block;
    }
  }
}

@media only screen and (max-width: 575px) {
  #detail{
    background-color: rgba(0,0,0,1);
  }

  div.work div.col-sm-6:nth-of-type(1) h1{
    margin-left: 0;
    position: fixed;
  }

  div.work{
    position: absolute;
  }

  div.app h1.title {
    position: fixed;
  }

  h2.button1 {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  h2.button1-mob {
    display: none;
  }
}

div.frame {
  transition: all .4s ease-in-out;
  align-self: center;
  img {
    max-width: 100%;
  }

  h4{
    text-align: center;
  }
}
